AXExcelAddIn/Service References/AX.AIF/AifGDS9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EntityKey" type="tns:EntityKey" />
  <xsd:complexType name="EntityKey">
    <xsd:sequence>
      <xsd:element name="KeyData" type="tns:KeyData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyData">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="KeyField" type="tns:KeyField" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyField">
    <xsd:sequence>
      <xsd:element name="Field" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>